In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import scipy.stats as stats
from datetime import datetime, date, time
from sklearn.model_selection import train_test_split

This is the initial EDA of the sales and shipment of products and building of models for determining the shipping cost based on the container type used to send the goods

In [6]:
df = pd.read_csv('data/sales.csv')

In [7]:
df

,Order ID,Customer ID,Sales Person,Order Date,Ship Date,Order Priority,SKU Code,Order Quantity,Unit Sell Price,Unit Cost Price,Discount Percent,Shipping Amount,Ship Mode,Container,Cost,Discount Amount,Discount Cost,Total Discounted Cost
0,13729,C508,Mr Robert Carlton,1/1/2017,1/3/2017,Not Specified,SKU947,9,95.99,1,8%,35.00,Express Air,Large Box,863.91,69.1128,794.7972,829.7972
1,28774,C372,Miss Roseanna Marr,1/1/2017,1/2/2017,High,SKU937,32,5.98,1,10%,4.69,Regular Air,Small Box,191.36,19.1360,172.2240,176.9140
2,9285,C212,Mr Robert Carlton,1/2/2017,1/4/2017,Critical,SKU363,3,40.98,6,6%,2.99,Regular Air,Small Box,122.94,7.3764,115.5636,118.5536
3,37537,C015,Mr Robert Carlton,1/2/2017,1/2/2017,Low,SKU052,4,291.73,58,0%,48.80,Delivery Truck,Jumbo Drum,1166.92,0.0000,1166.9200,1215.7200
4,37537,C015,Mr Robert Carlton,1/2/2017,1/4/2017,Low,SKU063,43,100.98,45,7%,45.00,Delivery Truck,Jumbo Drum,4342.14,303.9498,4038.1902,4083.1902
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8394,49344,C494,Mr Robert Carlton,12/30/2020,12/30/2020,Low,SKU979,31,19.98,9,0%,4.00,Regular Air,Small Box,619.38,0.0000,619.3800,623.3800
8395,49344,C494,Mr Robert Carlton,12/30/2020,12/30/2020,Low,SKU883,1,832.81,14,9%,24.49,Regular Air,Medium Box,832.81,74.9529,757.8571,782.3471
8396,47815,C377,Mrs Gail Johnson,12/30/2020,12/30/2020,Not Specified,SKU114,45,13.73,5,8%,6.85,Regular Air,Wrap Bag,617.85,49.4280,568.4220,575.2720
8397,50950,C768,Mrs Gail Johnson,12/30/2020,12/30/2020,Not Specified,SKU066,6,60.98,5,6%,30.00,Delivery Truck,Jumbo Drum,365.88,21.9528,343.9272,373.9272
8398,50950,C768,Mrs Gail Johnson,12/30/2020,12/30/2020,Not Specified,SKU961,35,13.48,2,10%,4.51,Express Air,Small Box,471.80,47.1800,424.6200,429.1300

In [8]:
df.describe()

,Order ID,Order Quantity,Unit Sell Price,Unit Cost Price,Shipping Amount,Cost,Discount Amount,Discount Cost,Total Discounted Cost
count,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000,8399.000000
mean,29965.183950,25.571735,89.346259,22.737826,12.838557,1846.312055,91.276222,1755.035833,1767.874390
std,17260.883221,14.481071,290.354383,92.055619,17.264052,3710.265557,219.699498,3538.264045,3545.674373
min,3.000000,1.000000,0.990000,1.000000,0.490000,1.480000,0.000000,1.465200,2.165200
25%,15011.500000,13.000000,6.480000,2.000000,3.300000,140.150000,3.787500,133.221700,138.570550
50%,29857.000000,26.000000,20.990000,4.000000,6.070000,450.890000,16.128000,427.700000,437.350000
75%,44596.000000,38.000000,85.990000,18.000000,13.990000,1781.645000,72.720750,1681.944050,1705.749900
max,59973.000000,50.000000,6783.020000,3159.000000,164.730000,88179.260000,4883.774400,88179.260000,88203.750000

In [10]:
df.shape

(8399, 18)

In [13]:
df.dtypes

Order ID                          int64
Customer ID                      object
Sales Person                     object
Order Date               datetime64[ns]
Ship Date                datetime64[ns]
Order Priority                   object
SKU Code                         object
Order Quantity                    int64
Unit Sell Price                 float64
Unit Cost Price                   int64
Discount Percent                 object
Shipping Amount                 float64
Ship Mode                        object
Container                        object
Cost                            float64
Discount Amount                 float64
Discount Cost                   float64
Total Discounted Cost           float64
dtype: object

In [12]:
from datetime import datetime, date, time

df['Order Date'] = pd.to_datetime(df["Order Date"], errors= "coerce")
df['Ship Date'] = pd.to_datetime(df["Ship Date"], errors= "coerce")